<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="org.archicontribs.toolbox.ToolboxPreferencePage"
			id="org.archicontribs.toolbox.PreferencePage"
			name="toolbox plugin">
		</page>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.archicontribs.toolbox.override.ToolboxArchimateDiagramEditor"
			contributorClass="com.archimatetool.editor.diagram.ArchimateDiagramEditorActionBarContributor"
			default="false"
			icon="img/diagram.png"
			id="com.archimatetool.editor.diagramEditor"
			name="View">
      </editor>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.archicontribs.toolbox.override.ToolboxTreeModelView"
			icon="img/models.png"
			id="com.archimatetool.editor.treeModelView"
			name="Models"
			restorable="true">
		</view>
	</extension>
	
	<extension
		name="ArchiMate Elements"
		point="com.archimatetool.editor.objectUIProvider">
		<uiProvider
			class="org.archicontribs.toolbox.uiProvider.elements.ToolboxTechnologyServiceUIProvider"
			id="com.archimatetool.editor.TechnologyServiceUIProvider">
		</uiProvider>
	</extension>
 </plugin>