<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?eclipse version="3.4"?>

<plugin>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="org.archicontribs.toolbox.ToolboxPreferencePage"
			id="org.archicontribs.toolbox.PreferencePage"
			name="toolbox plugin">
		</page>
	</extension>
	
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.archicontribs.toolbox.override.ToolboxArchimateDiagramEditor"
			contributorClass="com.archimatetool.editor.diagram.ArchimateDiagramEditorActionBarContributor"
			default="false"
			icon="img/diagram.png"
			id="com.archimatetool.editor.diagramEditor"
			name="View">
      </editor>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.archicontribs.toolbox.override.ToolboxTreeModelView"
			icon="img/models.png"
			id="com.archimatetool.editor.treeModelView"
			name="Models"
			restorable="true">
		</view>
	</extension>
	
	<extension
		name="ArchiMate Elements"
		point="com.archimatetool.editor.objectUIProvider">
				<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxJunctionUIProvider"
			id="com.archimatetool.editor.JunctionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationCollaborationUIProvider"
			id="com.archimatetool.editor.ApplicationCollaborationUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationComponentUIProvider"
			id="com.archimatetool.editor.ApplicationComponentUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationEventUIProvider"
			id="com.archimatetool.editor.ApplicationEventUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationFunctionUIProvider"
			id="com.archimatetool.editor.ApplicationFunctionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationInteractionUIProvider"
			id="com.archimatetool.editor.ApplicationInteractionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationInterfaceUIProvider"
			id="com.archimatetool.editor.ApplicationInterfaceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationProcessUIProvider"
			id="com.archimatetool.editor.ApplicationProcessUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxApplicationServiceUIProvider"
			id="com.archimatetool.editor.ApplicationServiceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxArtifactUIProvider"
			id="com.archimatetool.editor.ArtifactUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxAssessmentUIProvider"
			id="com.archimatetool.editor.AssessmentUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessActorUIProvider"
			id="com.archimatetool.editor.BusinessActorUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessCollaborationUIProvider"
			id="com.archimatetool.editor.BusinessCollaborationUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessEventUIProvider"
			id="com.archimatetool.editor.BusinessEventUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessFunctionUIProvider"
			id="com.archimatetool.editor.BusinessFunctionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessInteractionUIProvider"
			id="com.archimatetool.editor.BusinessInteractionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessInterfaceUIProvider"
			id="com.archimatetool.editor.BusinessInterfaceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessObjectUIProvider"
			id="com.archimatetool.editor.BusinessObjectUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessProcessUIProvider"
			id="com.archimatetool.editor.BusinessProcessUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessRoleUIProvider"
			id="com.archimatetool.editor.BusinessRoleUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxBusinessServiceUIProvider"
			id="com.archimatetool.editor.BusinessServiceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxCapabilityUIProvider"
			id="com.archimatetool.editor.CapabilityUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxCommunicationNetworkUIProvider"
			id="com.archimatetool.editor.CommunicationNetworkUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxConstraintUIProvider"
			id="com.archimatetool.editor.ConstraintUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxContractUIProvider"
			id="com.archimatetool.editor.ContractUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxCourseOfActionUIProvider"
			id="com.archimatetool.editor.CourseOfActionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxDataObjectUIProvider"
			id="com.archimatetool.editor.DataObjectUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxDeliverableUIProvider"
			id="com.archimatetool.editor.DeliverableUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxDeviceUIProvider"
			id="com.archimatetool.editor.DeviceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxDistributionNetworkUIProvider"
			id="com.archimatetool.editor.DistributionNetworkUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxDriverUIProvider"
			id="com.archimatetool.editor.DriverUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxEquipmentUIProvider"
			id="com.archimatetool.editor.EquipmentUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxFacilityUIProvider"
			id="com.archimatetool.editor.FacilityUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxGapUIProvider"
			id="com.archimatetool.editor.GapUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxGoalUIProvider"
			id="com.archimatetool.editor.GoalUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxGroupingUIProvider"
			id="com.archimatetool.editor.GroupingUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxImplementationEventUIProvider"
			id="com.archimatetool.editor.ImplementationEventUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxLocationUIProvider"
			id="com.archimatetool.editor.LocationUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxMaterialUIProvider"
			id="com.archimatetool.editor.MaterialUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxMeaningUIProvider"
			id="com.archimatetool.editor.MeaningUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxNodeUIProvider"
			id="com.archimatetool.editor.NodeUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxOutcomeUIProvider"
			id="com.archimatetool.editor.OutcomeUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxPathUIProvider"
			id="com.archimatetool.editor.PathUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxPlateauUIProvider"
			id="com.archimatetool.editor.PlateauUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxPrincipleUIProvider"
			id="com.archimatetool.editor.PrincipleUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxProductUIProvider"
			id="com.archimatetool.editor.ProductUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxRepresentationUIProvider"
			id="com.archimatetool.editor.RepresentationUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxRequirementUIProvider"
			id="com.archimatetool.editor.RequirementUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxResourceUIProvider"
			id="com.archimatetool.editor.ResourceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxStakeholderUIProvider"
			id="com.archimatetool.editor.StakeholderUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxSystemSoftwareUIProvider"
			id="com.archimatetool.editor.SystemSoftwareUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyCollaborationUIProvider"
			id="com.archimatetool.editor.TechnologyCollaborationUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyEventUIProvider"
			id="com.archimatetool.editor.TechnologyEventUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyFunctionUIProvider"
			id="com.archimatetool.editor.TechnologyFunctionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyInteractionUIProvider"
			id="com.archimatetool.editor.TechnologyInteractionUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyInterfaceUIProvider"
			id="com.archimatetool.editor.TechnologyInterfaceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyProcessUIProvider"
			id="com.archimatetool.editor.TechnologyProcessUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxTechnologyServiceUIProvider"
			id="com.archimatetool.editor.TechnologyServiceUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxValueUIProvider"
			id="com.archimatetool.editor.ValueUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxValueStreamUIProvider"
			id="com.archimatetool.editor.ValueStreamUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.elements.ToolboxWorkPackageUIProvider"
			id="com.archimatetool.editor.WorkPackageUIProvider">
		</uiProvider>
	</extension>
	
	<extension
		name="ArchiMate Relationships"
		point="com.archimatetool.editor.objectUIProvider">
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxAccessRelationshipUIProvider"
			id="com.archimatetool.editor.AccessRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxAggregationRelationshipUIProvider"
			id="com.archimatetool.editor.AggregationRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxAssignmentRelationshipUIProvider"
			id="com.archimatetool.editor.AssignmentRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxAssociationRelationshipUIProvider"
			id="com.archimatetool.editor.AssociationRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxCompositionRelationshipUIProvider"
			id="com.archimatetool.editor.CompositionRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxFlowRelationshipUIProvider"
			id="com.archimatetool.editor.FlowRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxInfluenceRelationshipUIProvider"
			id="com.archimatetool.editor.InfluenceRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxRealizationRelationshipUIProvider"
			id="com.archimatetool.editor.RealizationRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxServingRelationshipUIProvider"
			id="com.archimatetool.editor.ServingRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxSpecializationRelationshipUIProvider"
			id="com.archimatetool.editor.SpecializationRelationshipUIProvider">
		</uiProvider>
		<uiProvider
			class="org.archicontribs.toolbox.uiprovider.relationships.ToolboxTriggeringRelationshipUIProvider"
			id="com.archimatetool.editor.TriggeringRelationshipUIProvider">
		</uiProvider>
	</extension>
	
	<extension
		id="main"
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
			contributorId="com.archimatetool.editor">
			<propertySection
				class="org.archicontribs.toolbox.override.ToolboxSpecializationSection"
				filter="org.archicontribs.toolbox.override.ToolboxSpecializationSection$Filter"
				id="specializationSection"
				tab="main.tab">
			</propertySection>
		</propertySections>
	</extension>
 </plugin>